<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://miro.medium.com/v2/resize:fit:783/1*Kj8Eq401fP2ecTY8r9B89Q.png"
      alt=""
      height="200px"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#"> Saiu a nova versão do Angular </a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt harum
        mollitia alias molestias doloribus soluta natus cupiditate quasi facere
        hic reiciendis sint nostrum, quis, obcaecati, non cum vitae! Quasi,
        debitis.
      </a>
    </p>
  </div>
</div>
